body, html {
    background-color: #f1f1f1;
   font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 500;
   overflow-y: hidden;
}


.centre-hero {
    height: 60%;
      position: absolute;
  top: 50%;
  transform: translateY(-50%);
    display: flex;
  flex-direction: column;
  justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.landing {
    width: 100vw;
    height: 100vh
}

.impact {
    font-size: 40px;
    font-weight: 400;
    color: #1a283d
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
    color: #434d5f
}

.yellow-highlight {
  text-shadow: 
    -3px 0px 3px #eaedad,
     3px 0px 3px #eaedad,
     6px 0px 6px #eaedad,
    -6px 0px 6px #eaedad;
}

.contact-tray {
    margin-top: 40px;
    font-size: 20px;
}

.contact-icon {
    margin-right: 20px;
    color: #595959;
    transition: color 1s;
}

.contact-icon:hover {
    color: #212121;
    cursor: pointer;
}

